body {
    font-family: Arial, Helvetica, sans-serif;
    background: #777;
    font-size: 18px;
    color: #777;
    width: 960px;
    margin-left: 85px;
    text-align: center;
}

header {
    box-sizing: border-box;
    background-color: #ebebeb;
    margin-bottom: 10px;
    height: 50px;

}

nav {
    box-sizing: border-box;
    background-color: #ebebeb;
    margin-bottom: 10px;
    height: 60px;

}

.clear {

}

section {
    box-sizing: border-box;
    background-color: #ebebeb;
    margin: 0 10 0 10;
    height: 50px;
    width: 495px;
    float: left;
}

aside {
    box-sizing: border-box;
    background-color: #ebebeb;
    height: 50px;
    width: 495px;
    margin: 0 0 0 50px;
    float: right;
}

article {
    box-sizing: border-box;
    background-color: #181be4;
    margin-bottom: 10px;
    height: 50px;

}

h1 {
    box-sizing: border-box;
    background-color: #ebebeb;
    margin-bottom: 10px;
    height: 50px;

}

h2 {
    box-sizing: border-box;
    background-color: #ebebeb;
    margin-bottom: 10px;
    height: 50px;
}

h3 {
    box-sizing: border-box;
    background-color: #ebebeb;
    margin-bottom: 10px;
    height: 50px;

}

p {
    box-sizing: border-box;
    background-color: #ebebeb;
    margin-bottom: 10px;
    height: 50px;


}

footer {
    box-sizing: border-box;
    background-color: #ebebeb;
    height: 50px;
    clear: both;
}
